* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #333;
  font-family: Tahoma, sans-serif;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  padding: 10px;
  display: inline-block;
}

header {
  background: tomato;
}
.container {
  width: 90%;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  display: flex;
}

ul li {
  position: relative;
  padding: 10px;
  transition: all 0.5s ease;
}

ul li:hover {
  background-color: #000;
}

.drop-down:hover .dropdown-content {
  display: block;
}

.nested-dropdown:hover .nested-dropdown-content {
  display: block;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
}

.dropdown-content ul {
  flex-direction: column;
  background: tomato;
  width: 180px;
}

.nested-dropdown-content {
  position: absolute;
  top: 0;
  left: 100%;
  display: none;
}
