* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1b232b;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  padding-top: 50px;
  width: 90%;
  margin: 0 auto;
}

.timeline {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeline::before {
  content: "";
  position: absolute;
  top: 0;
  left: 25%;
  bottom: 0;
  width: 1px;
  background: #666;
  transform: translateX(-50%);
}

.timeline-item {
  position: relative;
  width: 50%;
  padding: 10px 40px;
  left: 0%;
}

.timeline-item::before {
  content: "😂";
  position: absolute;
  top: 20px;
  right: 100%;
  transform: translateX(50%);
  font-size: 20px;
  padding: 5px;
  background: #3498db;
  border-radius: 50%;
}

.timeline-content {
  background: #333;
  padding: 20px;
}

.timeline-content h3 {
  font-size: 16px;
  background: #3498db;
  display: inline-block;
  padding: 2px 5px;
  font-weight: 400;
  border-radius: 4px;
  margin-bottom: 15px;
}

.timeline-content p {
  color: #eee;
  margin-bottom: 10px;
}

.timeline-content time {
  color: #eee;
}

.item2 h3 {
  background-color: tomato;
}

.item3 h3 {
  background-color: green;
}
